.ChatMain
  .GroupBox
    .GroupBox__Group
      .GroupBox__GroupName
      = @group.name
      %ul.GroupBox__GroupList
        Member: 
        - @group.users.each do |user|
          = user.name
    .GroupBox__Edit
      = link_to edit_group_path(@group), class: "EditBtn__edit" do
        .EditBtn Edit
        
  .MessageField
    = render @messages


  .ChatBox  
    = form_with model: [@group, @message], html: {class:"Form"}, local: true do |f|
      .Form__Content
        = f.text_field :content, class: 'Form__InputContent', placeholder: 'type a message'
        = f.label :image, class: 'Form__inputImage' do 
          = icon('far','image', class:'Form__icon')
          = f.file_field :image, class:'hidden'
      = f.submit 'Send', class: 'Form__submit'

